:root {
  font-family: Arial;
  background-color: #FAFAFC;
}

.logo a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #d7d3bf;
}

nav {
  display: flex;
  align-items: center;
  height: 50px;
  background: transparent;
}

.portrait{
  width: 15em;
  height: 15em;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.introContainer .sec div p {
  font-size: 1.2em;
}

.introContainer .sec1 p:nth-of-type(2) {
  font-size: 1.2em;
  margin-top: 0;
}

@media (min-width: 768px) {
  .introContainer {
      display: flex;
      flex-direction: row;
      gap: 20px;
      padding: 50px;
  }
}
